*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
      
}
.list-header{ 
 list-style: none;
 padding-top: 10px;
   
}
li{
 float:left; 
 margin-right: 20px;
 color: lightgray;
 
}

h1{
 padding-top: 20px; 
 font-size: 40px;  
}

h3{
font-family:Arial, Helvetica, sans-serif;
color:lightgrey;

}
.logo{width: 200px;
    height: 80px;
    
}

.site_footer{ height: 50px;
    text-align: center;   

}

.sidebar{
    width: 20%;
    height: 200px;
    float: left;
     
}

.content{
    width: 56%;
    height: 450px;
    float: left; 
    margin:0 2%;
}

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}

.site_main{
    margin: 1rem 0;
}

.initial-main{height: 600px;
  width: 1100px;
  margin-top: 25px;
  border-radius: 15px;
}

.img-1{
    width: 180px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
    filter: brightness(80%);
}

.img-2{
    width: 600px;
    height: 200px;
    border-radius: 15px; 
    margin-bottom: 10px; 
    filter: brightness(80%);
    
}

.img-3{
    width: 180px;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin: right 0;
    filter: brightness(80%);

}

.first-main{height: 35px;
    margin-top: 15px;
  
}


body{width: 80%;
    margin:0 auto;
}

span{
    color: red;
}